@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.header_main{
  @apply fixed z-10 flex-row w-full items-center justify-between   text-black bg-white  border-b-2 border-[#e3e0e0]
}
.bgImage {
  background-image: url('/homepage/Mask Group.png');
  background-size: cover; /* Add other background properties as needed */
  background-position: center;
}
.bgImage2 {
  background-image: url('/homepage/dressed-uniform.png');
  background-size: cover; /* Add other background properties as needed */
  background-position: center;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
/* .bg_Image{
  @apply bg-[url('/homepage/Mask Group.png')] 
} */